

body{

background:linear-gradient(4deg, red, orange);
margin:0%;
font-family: "Open Sans", sans-serif;
margin-bottom: 80px;
}

header{
    border-bottom: solid 2px  rgb(14, 11, 11);
    font-size: 30px;
    padding: 05px;
    background: repeating-linear-gradient(24deg, black, rgb(249, 98, 5) 100px);
    display: flex;
    color: orange;
}

