

body{

background:linear-gradient(4deg, red, orange);
margin:0%;
font-family: "Open Sans", sans-serif;
margin-bottom: 80px;
}

header{
    border-bottom: solid 2px  rgb(14, 11, 11);
    font-size: 30px;
    padding: 05px;
    background: repeating-linear-gradient(24deg, black, rgb(249, 98, 5) 100px);
    display: flex;
    color: orange;
}

section{
    
    background: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-bottom: 90;
    padding-top: 90px;
}

.textodoladodovd{
    margin-right: 5%;
}

p{
    font-size: 20px
}